.btn-change-pass {
  display: flex;
  justify-content: center;
  flex-direction: row;
  p {
    padding-right: 100px;
  }
}

.btn-con {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
