<div class="main-container">
  <div class="tournament-title">
    <h1>{{ tournament?.name | uppercase }}</h1>
  </div>
  <div class="components-btn-con">
    <ul>
      <li>
        <a
          (click)="switchView('teams')"
          [class.active]="currentView === 'teams'"
          >Teams</a
        >
      </li>
      <span>|</span>
      <li>
        <a
          (click)="switchView('matches')"
          [class.active]="currentView === 'matches'"
          >Matches</a
        >
      </li>
    </ul>
  </div>
  <div *ngIf="currentView === 'teams' && teams.length === 0">
    <p>There are no teams yet</p>
  </div>
  <div *ngIf="currentView === 'teams'" class="matches-container">
    <div class="teams-cards" *ngFor="let team of teams">
      <mat-card>
        <mat-card-title class="card-container-title">{{
          team.name
        }}</mat-card-title>
      </mat-card>
    </div>
  </div>

  <div *ngIf="currentView === 'matches'" class="matches-section">
    <div class="card-container">
      <app-card-matches [dataType]="'tournament-matches'"></app-card-matches>
    </div>
  </div>
</div>
<!-----------------Edit and Delete Buttons-------------------------->
<div *ngIf="isCreator" class="actions">
  <button mat-button class="button-edit" (click)="openEditDialog()">
    Edit
  </button>
  <button mat-button class="button-delete" (click)="openDialog('tournament')">
    Delete
  </button>
</div>
