.main-container {
  flex-direction: column;
  height: 100vh;
}

.tournament-title {
  h1 {
    font-style: italic;
    font-weight: 600;
    font-size: 2rem;
  }
}
.components-btn-con {
  padding-bottom: 5rem;
}
.components-btn-con ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px;
}

.components-btn-con li a {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.components-btn-con a {
  color: rgb(76, 61, 104); /* Kolor domyślny linków */
  transition: color 0.2s; /* Płynna zmiana koloru przez 0.2 sekundy */
}

.components-btn-con a:hover {
  color: #f1356d;
  transition: 0.2s;
}

.components-btn-con a.active {
  color: #f1356d;
}

.matches-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
}

.card-container-title {
  font-style: italic;
  font-weight: 500;
}

mat-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 50px;
}
