mat-card {
  height: 115px;
  background: #1e293b !important;
  color: white;
  transition: transform 0.3s ease;
}

mat-card:hover {
  transform: scale(1.05) !important;
}

.card-container-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container-teams-name {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin-left: 10px;
  width: 90%;
}

.date-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 100%;
  font-size: 14px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  p {
    margin: 10px;
  }
  .result {
    font-size: 36px;
    font-style: italic;
  }
}
p {
  color: white;
}

.versus {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-style: italic;
}
