.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.text-container {
  padding: 20px;
}

.btn-con {
  button {
    margin: 5px;
    width: 80px;
    height: 30px;
  }
  .Yes-button {
    color: red;
  }
}
