<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div *ngFor="let field of fields">
      <mat-form-field appearance="fill">
        <mat-label>{{ field.placeholder }}</mat-label>
        <input
          matInput
          [type]="field.type"
          [placeholder]="field.placeholder"
          [id]="field.id"
          [formControlName]="field.name"
          required
        />
      </mat-form-field>
    </div>
    <div class="btn-con">
      <button mat-button type="submit">Submit</button>
    </div>
  </form>
</div>
