<div class="form-container">
  <h1 *ngIf="formType === 'user'" class="header">Edit Profile</h1>
  <h1 *ngIf="formType === 'password'" class="header">Change Password</h1>
  <form
    [formGroup]="form"
    (ngSubmit)="submitForm()"
    enctype="multipart/form-data"
  >
    <div *ngFor="let field of fields; trackBy: trackByFn">
      <mat-form-field appearance="fill" *ngIf="field.type !== 'file'">
        <mat-label>{{ field.placeholder }}</mat-label>
        <ng-container [ngSwitch]="field.type">
          <mat-select
            *ngSwitchCase="'select'"
            [formControlName]="field.name"
            required
          >
            <mat-option
              *ngFor="let option of field.options"
              [value]="option.value"
            >
              {{ option.label }}
            </mat-option>
          </mat-select>
          <ng-container class="date-picker" *ngSwitchCase="'date'">
            <div class="date-picker-wrapper">
              <input
                matInput
                [matDatepicker]="picker"
                [placeholder]="field.placeholder"
                [formControlName]="field.name"
                required
              />
              <mat-datepicker-toggle
                [for]="picker"
                class="datepicker-icon"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </div>
          </ng-container>
          <input
            *ngSwitchDefault
            matInput
            [type]="field.type"
            [placeholder]="field.placeholder"
            [id]="field.id"
            [formControlName]="field.name"
            [required]="field.name !== 'team_id'"
          />
        </ng-container>
      </mat-form-field>
    </div>
    <input
      *ngIf="formType === 'tournament'"
      formControlName="creator_id"
      type="hidden"
      readonly
    />
    <input
      *ngIf="formType === 'player'"
      formControlName="team_id"
      type="hidden"
      readonly
    />

    <div class="btn-con">
      <button mat-button type="submit">Submit</button>
      <button
        mat-button
        type="button"
        *ngIf="formType === 'user'"
        (click)="cancel()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
