<div class="login-container">
  <div class="login-form">
    <mat-card>
      <mat-card-content>
        <h2>Login to account</h2>
        <form #loginForm="ngForm" (ngSubmit)="login()">
          <mat-form-field>
            <input
              matInput
              placeholder="Email"
              [(ngModel)]="email"
              #emailField="ngModel"
              name="email"
              required
              email
              (keyup.enter)="login()"
            />
            <mat-error *ngIf="emailField.errors?.['required']"
              >Email is required</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="password"
              placeholder="Password"
              [(ngModel)]="password"
              #passwordField="ngModel"
              name="password"
              required
              minlength="6"
              (keyup.enter)="login()"
            />
            <mat-error *ngIf="passwordField.errors?.['required']"
              >Password is required</mat-error
            >
          </mat-form-field>
          <button mat-button>Login</button>
        </form>
        <mat-error *ngIf="errorMessage" class="error-message">{{
          errorMessage
        }}</mat-error>
      </mat-card-content>
    </mat-card>
  </div>
</div>
