<div class="login-container">
  <div class="login-form">
    <mat-card>
      <mat-card-content>
        <h2>Login</h2>
        <form #loginForm="ngForm" (ngSubmit)="login()">
          <div class="input-box">
            <input
              [(ngModel)]="email"
              #emailField="ngModel"
              name="email"
              required
              email
              (keyup.enter)="login()"
            />
            <label class="placeholder-label">Email</label>
            <i class="bx bxs-user"></i>
          </div>

          <div class="input-box">
            <input
              id="password"
              type="password"
              [(ngModel)]="password"
              #passwordField="ngModel"
              name="password"
              required
              (keyup.enter)="login()"
            />
            <label class="placeholder-label">Password</label>
            <i class="bx bxs-lock-alt"></i>
          </div>

          <div class="remember-forgot">
            <label><input type="checkbox" />Remember me</label>
            <a routerLink="#"> Forgot password?</a>
          </div>
          <button mat-button class="btn">Login</button>
        </form>
        <mat-error *ngIf="errorMessage" class="error-message">{{
          errorMessage
        }}</mat-error>
        <div class="register-link">
          <p>Don't have an account? <a routerLink="/register">Register</a></p>
          <p><a routerLink="/home">Back AFL</a></p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
