.main-container {
  flex-direction: column;
}

.player-details-container {
  display: flex;
  flex-direction: row;
}

.player-details-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
}

.player-details-content-item {
  color: #fff;
  font-size: 2rem;
  margin: 2rem;
  font-weight: 500;
}

.table-con {
  width: 50%;
  padding-bottom: 1rem;
}
