<div class="main-container">
  <div *ngIf="player" class="player-details-container">
    <div class="player-details-main-content">
      <app-details-content
        dataType="player"
        [playerId]="playerId"
      ></app-details-content>
    </div>
  </div>

  <!----------------table----------------------------->

  <p class="player-details-content-item">Player Statics:</p>
  <div class="table-con">
    <app-table dataType="playerStatics" [playerId]="playerId"></app-table>
  </div>
</div>
<!-----------------Edit and Delete Buttons-------------------------->
<div *ngIf="isTeamPlayer" class="actions">
  <button mat-button class="button-edit" (click)="openEditDialog()">
    Edit Player
  </button>
  <button mat-button class="button-delete" (click)="openDialog('player')">
    Delete Player
  </button>
</div>
