.main-container {
  flex-direction: column;

  h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
    font-style: italic;
    font-weight: 600;
  }
}

.table-con {
  width: 70vw;
  margin-bottom: 2rem;
}
