<mat-stepper #stepper *ngIf="formType === 'tournament'">
  <!-- Step 1: Fill the tournament name -->
  <mat-step [stepControl]="formStep1">
    <form [formGroup]="formStep1">
      <ng-template matStepLabel>Fill the name of Tournament</ng-template>
      <div *ngFor="let field of fields">
        <mat-form-field appearance="fill" *ngIf="field.type !== 'file'">
          <mat-label>{{ field.placeholder }}</mat-label>
          <ng-container [ngSwitch]="field.type">
            <mat-select
              *ngSwitchCase="'select'"
              [formControlName]="field.name"
              required
            >
              <mat-option
                *ngFor="let option of field.options"
                [value]="option.value"
              >
                {{ option.label }}
              </mat-option>
            </mat-select>
            <input
              *ngSwitchDefault
              matInput
              [type]="field.type"
              [placeholder]="field.placeholder"
              [id]="field.id"
              [formControlName]="field.name"
            />
          </ng-container>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext [disabled]="formStep1.invalid">
          Next
        </button>
      </div>
    </form>
  </mat-step>

  <!-- Step 2: Select Teams -->
  <mat-step [stepControl]="formStep2">
    <form [formGroup]="formStep2">
      <ng-template matStepLabel>Select Teams</ng-template>
      <div *ngFor="let i of [].constructor(amountOfTeams); let idx = index">
        <mat-form-field appearance="fill">
          <mat-label>Team {{ idx + 1 }}</mat-label>
          <mat-select [formControlName]="'team_' + idx" required>
            <mat-option
              *ngFor="let team of getAvailableTeams(idx)"
              [value]="team.id"
            >
              {{ team.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button
          mat-button
          matStepperNext
          [disabled]="formStep2.invalid"
          (click)="submitTournamentStepper()"
        >
          Create
        </button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
