.main-container {
  flex-direction: column;
  color: white;
  height: 100%;

  .match-squads {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .team-name {
    flex: 1;
    text-align: center;
  }

  .vs-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    font-weight: bold;
  }

  h2 {
    font-style: italic;
  }

  .components-btn-con {
    padding-bottom: 2rem;
  }
  .components-btn-con ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 20px;
  }

  .components-btn-con li a {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
  }

  .components-btn-con a {
    color: rgb(76, 61, 104);
    transition: color 0.2s;
  }

  .components-btn-con a:hover {
    color: #f1356d;
    transition: 0.2s;
  }

  .components-btn-con a.active {
    color: #f1356d;
  }
  .container {
    display: flex;
    flex-direction: column;
    background-color: #202124e7;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);

    width: 60%;
    justify-content: center;
    border-radius: 15px;
    align-items: center;
  }

  .result-section {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: #202124e7;
    padding: 2rem;
    // border-radius: 15px;
    // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    position: relative;

    .date-text {
      margin-bottom: 16px;
      padding: 0;
    }

    .result-text {
      font-size: 4rem;
      padding: 0;
      margin: 0;
      font-weight: bold;
    }
  }

  .statics-section {
    display: flex;
    width: 40%;
    justify-content: space-between;
    // background-color: #202124;
    padding: 2rem;
    border-radius: 15px;
    // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }
  .header-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-cell {
    color: #bdc1c6;
    padding: 0.5rem;
    font-size: 20px;
  }

  .data-cell {
    color: #bdc1c6;
    padding: 0.5rem;
    font-size: 20px;
  }
}
