<div class="homepage">
  <section class="hero">
    <h1>AMATEUR FOOTBALL LEAGUE</h1>
    <h2>Manage Your Soccer League Like a Pro!</h2>
    <p>
      Start building your dream team today and join a community of soccer
      enthusiasts making the game more exciting and professional!
    </p>

    <div class="hero-btn-con">
      <button class="cta-button" *ngIf="isNotLoggedIn">Join Now</button>
      <button class="cta-button">View tournaments</button>
    </div>
  </section>

  <!-- Features Section -->
  <section class="features">
    <h1>What we offers?</h1>
    <div class="feature-card-container">
      <div class="feature-card">
        <mat-card class="feature-card-1">
          <h2>Team Management</h2>
          <p>Easily manage your team's roster and stats.</p></mat-card
        >
      </div>
      <div class="feature-card">
        <mat-card class="feature-card-2">
          <h2>Dynamic Tournaments</h2>
          <p>Organize and participate in exciting tournaments.</p></mat-card
        >
      </div>
      <div class="feature-card">
        <mat-card class="feature-card-3">
          <h2>Live Statistics</h2>
          <p>Access real-time stats and analytics.</p></mat-card
        >
      </div>
    </div>
  </section>

  <!-- News Section -->
  <section class="news">
    <h1>Latest Matches</h1>
    <div *ngIf="filteredMatches.length === 0">
      <p>There are no matches yet</p>
    </div>
    <div class="card" *ngIf="filteredMatches.length > 0">
      <app-card-matches
        class="card-matches"
        [matches]="filteredMatches"
        [dataType]="'home'"
      ></app-card-matches>
    </div>
  </section>
  <!------Tournament Section---------->
  <section class="news">
    <h1>Tournaments</h1>
    <div class="card">
      <app-card dataType="home"></app-card>
    </div>
  </section>

  <!-- Footer Section -->
  <footer class="footer">
    <p>&copy; 2024 Amateur Football League</p>
    <div class="social-links">
      <a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a>
      <a href="#"><i class="fa-brands fa-twitter"></i> Twitter</a>
      <a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a>
    </div>
  </footer>
</div>
