.container {
  background-position: center;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100vw;
  height: calc(100vh - 9vh);

  h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
    font-style: italic;
    font-weight: 600;
  }

  .title-f,
  .title-s,
  .title-t {
    font-size: 7em;
    color: rgba(255, 255, 255, 0.897);
    text-shadow: 2px 2px 0 #00000046, -2px 2px 0 #00000033, 2px -2px 0 #0000001f,
      -2px -2px 0 #00000023, 2px 0px 0 #0000002d, -2px 0px 0 #0000003a,
      0px 2px 0 #0000002c, 0px -2px 0 #00000025;
    transition: transform 0.3s ease;
    position: absolute;
    filter: opacity(0.7);
  }

  .title-f {
    top: 200px;
    left: 150px;
    margin: 20px;
  }

  .title-s {
    position: relative;
    font-size: 8em;
  }

  .title-t {
    bottom: 150px;
    right: 150px;
    margin: 20px;
    z-index: 3;
  }
}
