<div class="main-container">
  <h1>MATCH UPDATE</h1>
  <div class="components-btn-con"></div>
  <div class="player-details-container">
    <div
      class="player-details-main-content"
      *ngFor="let formGroup of actionForms; let i = index"
    >
      <div class="action-form-container">
        <app-action-form
          [matchId]="matchId"
          [formIndex]="i"
          [formGroup]="formGroup"
          (formSubmit)="submitAllForms()"
        >
        </app-action-form>
      </div>
      <div *ngIf="i > 0" class="remove-btn-container">
        <button mat-button class="remove-btn" (click)="removeForm(i)">
          <i class="fa-solid fa-trash" style="color: #ffffff"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Przycisk dodający nową linię formularza -->
  <div class="add-new-line-btn">
    <button mat-button (click)="addNewForm()">+ Add new line</button>
  </div>

  <!-- Przycisk przesyłający wszystkie formularze naraz -->
  <div class="submit-all-btn">
    <button mat-button (click)="submitAllForms()">Submit All</button>
  </div>
</div>
