<div class="card-container" *ngFor="let tournament of tournaments">
  <mat-card
    class="card-container-items"
    appearance="outlined"
    (click)="onCardClicked(tournament.id)"
  >
    <mat-card-title class="card-container-title">{{
      tournament.name
    }}</mat-card-title>
    <div
      class="status"
      [ngClass]="{
        active: tournament.teams.length < tournament.amount_of_teams,
        inactive: tournament.teams.length === tournament.amount_of_teams
      }"
    >
      {{
        tournament.teams.length < tournament.amount_of_teams
          ? "Active"
          : "Inactive"
      }}
    </div>
    <div class="date">
      <div class="date-days">
        {{ tournament.date_of_tournament | date : "dd.MM.yyyy" }}
      </div>
      <div class="date-hour">
        {{ tournament.date_of_tournament | date : "HH:mm" }}
      </div>
    </div>

    <mat-card-content class="card-container-amount-teams">
      <p>
        Teams: {{ tournament.teams.length }}/{{ tournament.amount_of_teams }}
      </p>

      <button
        mat-button
        class="card-container-button"
        (click)="joinToTournament(tournament); $event.stopPropagation()"
        [disabled]="tournament.teams.length === tournament.amount_of_teams"
      >
        Join!
      </button>
    </mat-card-content>
  </mat-card>
</div>
