mat-card {
  height: 115px;
}

.card-container-items {
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
}

.card-container-title {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin-left: 10px;
}
.card-container-amount-teams {
  margin: 5px;
  font-size: 1rem;
}

.status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
  font-size: 1rem;
  font-weight: bold;
}

.active {
  font-family: "Cabin", sans-serif;
  color: #0dc167;
}

.inactive {
  font-family: "Cabin", sans-serif;
  color: #dc143c;
}

.date {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 1rem;
  font-weight: bold;
  flex-direction: row;
}
.button-green {
  padding: 10px 22px;
  font-family: "Cabin", sans-serif;
  font-size: 18px;
  font-weight: 700;
  border-radius: 56px;
  background-color: #0dc167;
  transition: 0.25s ease;
  color: white !important;
}

.button-green:hover {
  background-color: #ffffff;
  color: black !important;
}
.button-green[disabled] {
  background-color: rgb(143, 143, 143);
  color: white;
  cursor: not-allowed;
}
