.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-table {
  width: 100%;
}

mat-form-field {
  width: 50%;
  margin-top: 10px;
}

.link {
  cursor: pointer;
}

table,
th,
td,
tr {
  text-align: center;
}

.mat-sort-header-container {
  display: flex !important;
  cursor: pointer !important;
  align-items: center !important;
  letter-spacing: normal !important;
  outline: 0 !important;
  justify-content: center !important;
}
