.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-table {
  width: 100%;
}

mat-form-field {
  width: 50%;
  margin-top: 10px;
}

.link {
  cursor: pointer;
}

table,
th,
td,
tr {
  text-align: center;
}
