@import "../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  height: 100%;
}
body {
  background-color: #ffffff;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-container {
  display: flex;
  justify-content: flex-start;
  padding-top: 5vh;
  align-items: center;
  width: 100%;
  height: calc(100vh - 24vh);
  overflow: hidden;
}

.form-container {
  margin-top: 30px;
}

.card-container {
  width: 80vw;
  margin: 1rem;
  cursor: pointer;
}
