<div class="main-container">
  <div *ngIf="team" class="team-details-container">
    <div class="team-details-logo">
      <img class="team-details-logo-image" />img
    </div>
    <div class="team-details-main-content">
      <ng-container *ngFor="let detail of teamDetails">
        <p>{{ detail.label }}: {{ team[detail.key] }}</p>
      </ng-container>
    </div>
  </div>

  <p class="team-details-content-item">Players:</p>
  <div class="table-con">
    <app-table dataType="teamPlayers" [teamId]="id"></app-table>
  </div>
  <!------------------------------------------------------->
  <p class="team-details-content-item">Team Statics:</p>

  <div class="team-details-content">
    <table mat-table [dataSource]="staticsDataSource">
      <!-- Dynamic Columns -->
      <ng-container
        *ngFor="let column of staticsColumns"
        [matColumnDef]="column.key"
      >
        <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
        <td mat-cell *matCellDef="let statics">{{ statics[column.key] }}</td>
        <td mat-footer-cell *matFooterCellDef>
          {{
            column.key === "num_of_goals"
              ? totalNumOfGoals
              : column.key === "num_of_yellow_cards"
              ? totalNumOfYellowCards
              : column.key === "num_of_red_cards"
              ? totalNumOfRedCards
              : ""
          }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="staticsColumnKeys"></tr>
      <tr mat-row *matRowDef="let row; columns: staticsColumnKeys"></tr>
    </table>
  </div>
</div>
