<div class="main-container">
  <div *ngIf="team" class="team-details-container">
    <div class="team-details-logo">
      <img class="team-details-logo-image" />img
    </div>
    <div class="team-details-main-content">
      <app-details-content dataType="team" [teamId]="id"></app-details-content>
    </div>
  </div>

  <p class="team-details-content-item">Players:</p>
  <div class="table-con">
    <app-table dataType="teamPlayers" [teamId]="id"></app-table>
  </div>
  <!------------------------------------------------------->
  <p class="team-details-content-item">Team Statics:</p>
  <div class="table-con">
    <app-table dataType="teamStatics" [teamId]="id"></app-table>
  </div>
</div>
