<mat-toolbar color="primary" class="nav-bar">
  <span class="nav-bar-logo">AFL</span>
  <div class="nav-bar-links">
    <ul>
      <li>
        <a
          routerLink="/home"
          [class.active]="currentUrl.includes('/home')"
          routerLinkActive="active"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/profile"
          [class.active]="currentUrl.includes('/profile')"
          routerLinkActive="active"
          >Profile</a
        >
      </li>
      <li class="dropdown">
        <a
          routerLink="/teams"
          [class.active]="currentUrl.includes('/team')"
          routerLinkActive="active"
          >Teams</a
        >
        <div class="nav-bar-submenu-block">
          <div class="nav-bar-submenu-padding">
            <ul class="nav-bar-level2">
              <li><a routerLink="/teams">Add Team</a></li>
              <li><a routerLink="/teams">Team DataBase</a></li>
              <li><a routerLink="/teams">Team Statics</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <a
          routerLink="/matches"
          [class.active]="currentUrl.includes('/matches')"
          routerLinkActive="active"
          >Matches</a
        >
      </li>
      <li>
        <a (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
