.nav-bar {
  width: 100%;
  justify-content: space-between;
  z-index: 9999;
  height: 9vh;
}

.nav-bar a:before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewX(-12deg);
  transform-origin: 50% 100%;
  background-color: transparent;
  transition: all 0.3s ease;
}

.nav-bar a {
  color: #fff;
  font-size: 1.4rem;
  line-height: 4rem;
  display: block;
  position: relative;
  font-style: italic;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.nav-bar-logo {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav-bar-links {
  justify-content: space-between;
}

.nav-bar-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.nav-bar-links a {
  color: #ffffff; /* Kolor domyślny linków */
  transition: color 0.2s; /* Płynna zmiana koloru przez 0.2 sekundy */
}

.nav-bar-links a:hover {
  color: #f1356d;
  transition: 0.2s;
}
.nav-bar-links a.active {
  color: #ff4081;
}

.nav-bar-links ul {
  display: flex;
  list-style: none;
}

.nav-bar-links li {
  padding: 0 1rem;
}

.nav-bar-submenu-padding {
  padding: 1rem 5rem;
}

*:focus {
  outline: none !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.nav-bar-submenu-block {
  background: #252c41;
  position: absolute;
  width: 100%;
  top: 9vh;
  left: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  max-height: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}

li:hover .nav-bar-submenu-block {
  max-height: 80px;
}

.active-link {
  color: #f1356d;
}
