<mat-toolbar color="primary" class="nav-bar">
  <span class="nav-bar-logo">AFL</span>
  <div class="nav-bar-links">
    <ul>
      <li>
        <a
          routerLink="/home"
          [class.active]="currentUrl.includes('/home')"
          routerLinkActive="active"
          >Home</a
        >
      </li>
      <li *ngIf="isLoggedIn">
        <a
          routerLink="/profile"
          [class.active]="currentUrl.includes('/profile')"
          routerLinkActive="active"
          >Profile</a
        >
      </li>
      <li class="dropdown">
        <a
          routerLink="/teams"
          [class.active]="currentUrl.includes('/team')"
          routerLinkActive="active"
          >Teams</a
        >
        <div class="nav-bar-submenu-block">
          <div class="nav-bar-submenu-padding">
            <ul class="nav-bar-level2">
              <li *ngIf="isLoggedIn"><a routerLink="/teams">Create Team</a></li>
              <li><a routerLink="/teams">Teams Base</a></li>
              <li *ngIf="isLoggedIn"><a routerLink="/teams">My Team</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <a
          routerLink="/matches"
          [class.active]="currentUrl.includes('/matches')"
          routerLinkActive="active"
          >Matches</a
        >
      </li>
      <li class="dropdown">
        <a
          routerLink="/players"
          [class.active]="currentUrl.includes('/players')"
          routerLinkActive="active"
          >Players</a
        >
        <div class="nav-bar-submenu-block">
          <div class="nav-bar-submenu-padding">
            <ul class="nav-bar-level2">
              <li *ngIf="isLoggedIn">
                <a routerLink="/players">Add Player</a>
              </li>
              <li><a routerLink="/players">Players Base</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="dropdown">
        <a
          routerLink="/tournament"
          [class.active]="currentUrl.includes('/tournament')"
          routerLinkActive="active"
          >Tournament</a
        >
        <div class="nav-bar-submenu-block">
          <div class="nav-bar-submenu-padding">
            <ul class="nav-bar-level2">
              <li *ngIf="isLoggedIn">
                <a routerLink="/tournament">Create Tournament</a>
              </li>
              <li *ngIf="isLoggedIn">
                <a routerLink="/tournament">My Tournament</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li *ngIf="!isLoggedIn">
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="isLoggedIn">
        <a (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
