<mat-toolbar class="nav-bar">
  <span class="nav-bar-logo">AFL</span>
  <div class="nav-bar-links">
    <ul>
      <li>
        <a
          routerLink="/home"
          [class.active]="isActive('/home')"
          routerLinkActive="active"
          >Home</a
        >
      </li>
      <li *ngIf="isLoggedIn">
        <a
          routerLink="/profile"
          [class.active]="isActive('/profile')"
          routerLinkActive="active"
          >Profile</a
        >
      </li>
      <li class="dropdown">
        <a
          routerLink="/teams-base"
          [class.active]="
            isActive('/team') ||
            isActive('/teams-base') ||
            isActive('/my-team') ||
            isActive('/team-create')
          "
          routerLinkActive="active"
          ><div
            [ngClass]="{
              'active-link':
                isActive('/team') ||
                isActive('/teams-base') ||
                isActive('/my-team') ||
                isActive('/team-create')
            }"
          >
            Teams
          </div></a
        >
        <div class="nav-bar-submenu-block">
          <div class="nav-bar-submenu-padding">
            <ul class="nav-bar-level2">
              <li *ngIf="isLoggedIn">
                <a routerLink="/team-create"
                  ><div
                    [ngClass]="{
                      'active-link': isActive('/team-create')
                    }"
                  >
                    Create Team
                  </div></a
                >
              </li>
              <li>
                <a routerLink="/teams-base"
                  ><div
                    [ngClass]="{
                      'active-link': isActive('/teams-base')
                    }"
                  >
                    Teams Base
                  </div></a
                >
              </li>
              <li *ngIf="isLoggedIn">
                <a (click)="navigateToMyTeam()"
                  ><div
                    [ngClass]="{
                      'active-link': isActive('/my-team')
                    }"
                  >
                    My Team
                  </div></a
                >
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="dropdown">
        <a
          routerLink="/matches-finished"
          [class.active]="isActive('/matches-finished')"
          routerLinkActive="active"
          ><div
            [ngClass]="{
              'active-link':
                isActive('/matches-finished') || isActive('/match-manager')
            }"
          >
            Matches
          </div></a
        >
        <div class="nav-bar-submenu-block">
          <div class="nav-bar-submenu-padding">
            <ul class="nav-bar-level2">
              <li>
                <a routerLink="/matches-finished"
                  ><div
                    [ngClass]="{
                      'active-link': isActive('/matches-finished')
                    }"
                  >
                    Match History
                  </div></a
                >
              </li>
              <li *ngIf="isLoggedIn">
                <a routerLink="/match-manager"
                  ><div
                    [ngClass]="{
                      'active-link': isActive('/match-manager')
                    }"
                  >
                    Match Manager
                  </div></a
                >
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="dropdown">
        <a
          routerLink="/players-base"
          [class.active]="
            isActive('/players') ||
            isActive('/players-base') ||
            isActive('/player-create')
          "
          routerLinkActive="active"
          ><div
            [ngClass]="{
              'active-link':
                isActive('/players') ||
                isActive('/players-base') ||
                isActive('/player-create')
            }"
          >
            Players
          </div></a
        >
        <div class="nav-bar-submenu-block">
          <div class="nav-bar-submenu-padding">
            <ul class="nav-bar-level2">
              <li *ngIf="isLoggedIn">
                <a (click)="navigateToCreatePlayer()"
                  ><div
                    [ngClass]="{
                      'active-link': isActive('/player-create')
                    }"
                  >
                    Create Player
                  </div></a
                >
              </li>
              <li>
                <a routerLink="/players-base"
                  ><div
                    [ngClass]="{
                      'active-link': isActive('/players-base')
                    }"
                  >
                    Players Base
                  </div></a
                >
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="dropdown">
        <a
          routerLink="/tournament-base"
          [class.active]="isActive('/tournament')"
          routerLinkActive="active"
          >Tournament</a
        >
        <div class="nav-bar-submenu-block">
          <div class="nav-bar-submenu-padding">
            <ul class="nav-bar-level2">
              <li *ngIf="isLoggedIn">
                <a routerLink="/tournament-create"
                  ><div
                    [ngClass]="{
                      'active-link': isActive('/tournament-create')
                    }"
                  >
                    Create Tournament
                  </div></a
                >
              </li>
              <li>
                <a routerLink="/tournament-base"
                  ><div
                    [ngClass]="{
                      'active-link': isActive('/tournament-base')
                    }"
                  >
                    Tournaments
                  </div></a
                >
              </li>
              <li *ngIf="isLoggedIn">
                <a (click)="navigateToMyTournament()"
                  ><div
                    [ngClass]="{
                      'active-link': isActive('/my-tournament')
                    }"
                  >
                    My Tournament
                  </div></a
                >
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li *ngIf="!isLoggedIn">
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="isLoggedIn">
        <a (click)="logout()">Logout </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
